header {
    height: 90px;
    flex-shrink: 0;
    border-radius: 0px 0px 10px 10px;
    background: #FAD85D;
    align-items: center;
    text-align: center;
}

header,
h2,
.btn-container,
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}

h1 {
    margin: 0;
    color: black;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.2px;
}

h2 {
    margin-top: 90px;
    padding: 8px 0 30px 0;
}

p{
    font-size: 15px;
    margin-left: 10px;
}

main {
    color: white;
}

main img {
    height: 50px;
    margin: 20px;
}

#img-btn-container {
    margin-top: 30px;
    margin-left: 330px;
}

.btn-data-types {
    height: 165px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #FAD85D;
    cursor: pointer;
    margin: 10px 35px;
    border-radius: 15px;
    width: 250px;
}

.continue-container {
    margin-top: 35px;
}